.left-div {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  row-gap: 0.5rem;
}

/* Regra específica para o painel lateral esquerdo */
.left-panel {
    background-color: var(--left-panel-bg-color);
    color: var(--left-panel-text-color);

    width: 20%;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}