/*Estilos CSS personalizados aqui */
/* Estilo de base para o corpo do documento (Modo Claro Padrão) */
html.light-mode {
    background-color: #f3f4f6; /* Cor de fundo principal do site */
    --canvas-bg-color: #f0f0f0; /* Cor de fundo do canvas*/
    color: #1f2937; /* Cor de texto padrão para o corpo */

    --dropdown-bg-color: #ffffff;
    --dropdown-text-color: #1f2937;
    --dropdown-hover-bg: #e5e7eb;
    --dropdown-hover-text: #1f2937;

    --modal-bg-color: #ffffff; /* Fundo modal */
    --modal-text-color: #1f2937; /* Texto*/
    --modal-border-color: #d1d5db; /* Borda*/
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra*/
    
    /* PAINEL CENTRAL */
    --center-panel-bg-color: #ffffff; /* Fundo do painel central */
    --center-panel-text-color: #1f2937; /* Texto do painel central */

    /* PAINEL SUPERIOR E INFERIOR (Header/Footer)*/
    --top-panel-bg-color: #ffffff; /* Fundo */
    --top-panel-text-color: #1f2937; /* texto */
    --top-panel-input-bg-color: #f9fafb; /* Fundo inputs */
    --top-panel-input-text-color: #1f2937; /* Texto inputs */
    --top-panel-input-border-color: #d1d5db; /* Borda  inputs*/

    /* PAINEL DIREITO */
    --right-panel-bg-color: #ffffff; 
    --right-panel-text-color: #1f2937; 
    --right-panel-input-bg-color: #f9fafb; 
    --right-panel-input-text-color: #1f2937; 
    --right-panel-input-border-color: #d1d5db; 

    /* PAINEL ESQUERDO */
    --left-panel-bg-color: #ffffff; 
    --left-panel-text-color: #1f2937; 
}

/* Estilo para o modo noturno */
html.dark-mode {
    background-color: #1a202c;
    color: #cdcdcd;
    --canvas-bg-color: #2d3748;
    --dropdown-bg-color: #2d3748;
    --dropdown-text-color: #e2e8f0;
    --dropdown-hover-bg: #4b5563;
    --dropdown-hover-text: #f9fafb;
    --modal-bg-color: #2d3748;
    --modal-text-color: #e2e8f0;
    --modal-border-color: #4a5568;
    --modal-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    /* PAINEL central*/
    --center-panel-bg-color: #2d3748;
    --center-panel-text-color: #e2e8f0;

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #28303e;
    --top-panel-text-color: #f0f0f0; 
    --top-panel-input-bg-color: #3a4452; 
    --top-panel-input-text-color: #f0f0f0; 
    --top-panel-input-border-color: #5a6470; 

    /* PAINEL DIREITO: Cores específicas para o modo noturno */
    --right-panel-bg-color: #28303e; 
    --right-panel-text-color: #f0f0f0;
    --right-panel-input-bg-color: #3a4452; 
    --right-panel-input-text-color: #f0f0f0; 
    --right-panel-input-border-color: #5a6470; 

    /* PAINEL ESQUERDO: Cores específicas para o modo noturno */
    --left-panel-bg-color: #2d3748;
    --left-panel-text-color: #cdcdcd;
}

/* Estilo para o modo azul */
html.blue-mode {
    background-color: #e0f2f7; /* Fundo azul claro */
    color: #2c5282;
    --canvas-bg-color: #e0f2f7;
    --dropdown-bg-color: #ffffff;
    --dropdown-text-color: #2c5282;
    --dropdown-hover-bg: #bfdbfe;
    --dropdown-hover-text: #1e40af;
    --modal-bg-color: #ffffff;
    --modal-text-color: #2c5282;
    --modal-border-color: #90cdf4;
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #90cdf4; 
    --top-panel-text-color: #2c5282; 
    --top-panel-input-bg-color: #f9fafb; 
    --top-panel-input-text-color: #1f2937; 
    --top-panel-input-border-color: #d1d5db; 

    /* PAINEL central*/
    --center-panel-bg-color: #bfdbfe;
    --center-panel-text-color: #2c5282;

    /* PAINEL DIREITO: Cores específicas para o modo azul */
    --right-panel-bg-color: #ffffff; 
    --right-panel-text-color: #2c5282; 
    --right-panel-input-bg-color: #ebf8ff; 
    --right-panel-input-text-color: #2c5282; 
    --right-panel-input-border-color: #a0d6fc;

    /* PAINEL ESQUERDO: Cores específicas para o modo azul */
    --left-panel-bg-color: #ffffff;
    --left-panel-text-color: #2c5282;
}

/* Estilos para o modo rosa */
html.rose-mode {
    background-color: #FFF2F4; /* Fundo rosa bem claro (quase branco) */
    color: #8C4755; 
    --canvas-bg-color: #FFE5E8; 

    --dropdown-bg-color: #FCD9DD; 
    --dropdown-text-color: #8C4755;
    --dropdown-hover-bg: #FFE5E8; 
    --dropdown-hover-text: #6B3540; 

    --modal-bg-color: #FFFFFF; 
    --modal-text-color: #8C4755;
    --modal-border-color: #FCD9DD
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* PAINEL central*/
    --center-panel-bg-color: #FFE5E8;
    --center-panel-text-color: #8C4755;

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #8C4755; 
    --top-panel-text-color: #FCD9DD; 
    --top-panel-input-bg-color: #FFE5E8; 
    --top-panel-input-text-color: #6B3540; 
    --top-panel-input-border-color: #E2B0BE;

    /* PAINEL DIREITO */
    --right-panel-bg-color: #FCE8EC; 
    --right-panel-text-color: #6B3540; 
    --right-panel-input-bg-color: #FFFFFF; 
    --right-panel-input-text-color: #8C4755; 
    --right-panel-input-border-color: #E2B0BE; 

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #FCE8EC; 
    --left-panel-text-color: #6B3540; 
}

/* Estilos para o novo modo dourado*/
html.gold-mode {
    background-color: #111a19;
    color: #809076; 
    --canvas-bg-color: #284129; 

    --dropdown-bg-color: #284129;
    --dropdown-text-color: #f8d794;
    --dropdown-hover-bg: #809076;
    --dropdown-hover-text: #111a19;
    --modal-bg-color: #284129; 
    --modal-text-color: #f8d794; 
    --modal-border-color: #bb6830; 
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #284129; 
    --top-panel-text-color: #f8d794; 
    --top-panel-input-bg-color: #809076; 
    --top-panel-input-text-color: #111a19; 
    --top-panel-input-border-color: #bb6830; 

    /* PAINEL central*/
    --center-panel-bg-color: #284129;
    --center-panel-text-color: #f8d794;
  
    /* PAINEL DIREITO */
    --right-panel-bg-color: #284129; 
    --right-panel-text-color: #f8d794; 
    --right-panel-input-bg-color: #809076; 
    --right-panel-input-text-color: #111a19; 
    --right-panel-input-border-color: #bb6830; 

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #284129; 
    --left-panel-text-color: #f8d794; 
}

/* Estilo para o modo oceano */
html.sea-mode {
    background-color: #003153;
    color: #d9f5f0; 
    --canvas-bg-color: #75E2E0;
 
    --dropdown-bg-color: #024D60; 
    --dropdown-text-color: #d9f5f0; 
    --dropdown-hover-bg: #2CABAD; 
    --dropdown-hover-text: #f9fafb; 

    --modal-bg-color: #024D60; 
    --modal-text-color: #d9f5f0; 
    --modal-border-color: #2CABAD; 
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #024D60; 
    --top-panel-text-color: #d9f5f0; 
    --top-panel-input-bg-color: #2CABAD; 
    --top-panel-input-text-color: #d9f5f0; 
    --top-panel-input-border-color: #75E2E0; 

    /* PAINEL DIREITO */
    --right-panel-bg-color: #024D60; 
    --right-panel-text-color: #d9f5f0; 
    --right-panel-input-bg-color: #2CABAD; 
    --right-panel-input-text-color: #d9f5f0; 
    --right-panel-input-border-color: #75E2E0; 

    /* PAINEL ESQUERDO */
    --left-panel-bg-color: #024D60;
    --left-panel-text-color: #d9f5f0;
    
    /* PAINEL central*/
    --center-panel-bg-color: #2CABAD;
    --center-panel-text-color: #f9fafb;
}

/* Estilo para o modo violeta */
html.violet-mode {
    background-color: #5C4B7D;
    color: #E0CCFF;
    --canvas-bg-color: #97A5ED;
  
    --dropdown-bg-color: #424691;
    --dropdown-text-color: #E0CCFF;
    --dropdown-hover-bg: #6F67CB;
    --dropdown-hover-text: #F0E8FF;
 
    --modal-bg-color: #424691;
    --modal-text-color: #E0CCFF;
    --modal-border-color: #6F67CB;
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
    /* PAINEL central*/
    --center-panel-bg-color: #6F67CB;
    --center-panel-text-color: #F0E8FF;

    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #424691;
    --top-panel-text-color: #E0CCFF;
    --top-panel-input-bg-color: #6F67CB; 
    --top-panel-input-text-color: #F0E8FF;
    --top-panel-input-border-color: #97A5ED; 

    /* PAINEL DIREITO*/
    --right-panel-bg-color: #6F67CB;
    --right-panel-text-color: #F0E8FF;
    --right-panel-input-bg-color: #97A5ED;
   
    --right-panel-input-text-color: #5C4B7D;
    --right-panel-input-border-color: #BEB2DF;

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #6F67CB;
    --left-panel-text-color: #F0E8FF;
}

/* Estilo para o modo praia */
html.beach-mode {
    background-color: #FFEEDD; 
    color: #694F3A; 
    --canvas-bg-color: #FFFAED; 

    --dropdown-bg-color: #F0D8C0;
    --dropdown-text-color: #694F3A;
    --dropdown-hover-bg: #FFECB3;
    --dropdown-hover-text: #8B4513;

    --modal-bg-color: #F0D8C0;
    --modal-text-color: #694F3A;
    --modal-border-color: #D2B48C;
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       
    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #D2B48C;
    --top-panel-text-color: #FFFFFF;
    --top-panel-input-bg-color: #FFFAED;
    --top-panel-input-text-color: #694F3A;
    --top-panel-input-border-color: #B08E6F;

    /* PAINEL central*/
    --center-panel-bg-color: #FFFAED;
    --center-panel-text-color: #694F3A;

    /* PAINEL DIREITO: Cores específicas*/
    --right-panel-bg-color: #F0D8C0; 
    --right-panel-text-color: #694F3A; 
    --right-panel-input-bg-color: #FFFAED; 
    --right-panel-input-text-color: #694F3A; 
    --right-panel-input-border-color: #D2B48C;

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #F0D8C0;
    --left-panel-text-color: #694F3A;
}

/* Estilo para o modo vermelho */
html.red-mode {
    background-color: #252b2b;
    color: #efdfc5;
    --canvas-bg-color: #efdfc5;

    --dropdown-bg-color: #380f17;
    --dropdown-text-color: #efdfc5;
    --dropdown-hover-bg: #dc2011;
    --dropdown-hover-text: #efdfc5;
  
    --modal-bg-color: #380f17;
    --modal-text-color: #efdfc5;
    --modal-border-color: #dc2011;
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #380f17;
    --top-panel-text-color: #efdfc5;
    --top-panel-input-bg-color: #4c4f54;
    --top-panel-input-text-color: #efdfc5;
    --top-panel-input-border-color: #8f0b13;

    /* PAINEL central*/
    --center-panel-bg-color: #4c4f54;
    --center-panel-text-color: #efdfc5;

    /* PAINEL DIREITO: Cores específicas*/
    --right-panel-bg-color: #8f0b13; 
    --right-panel-text-color: #efdfc5; 
    --right-panel-input-bg-color: #380f17; 
    --right-panel-input-text-color: #efdfc5; 
    --right-panel-input-border-color: #dc2011;

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #8f0b13;
    --left-panel-text-color: #efdfc5;
}

/* Estilo para o modo vermelho */
html.red-mode {
    background-color: #252b2b; 
    color: #efdfc5;
    --canvas-bg-color: #efdfc5; 

    --dropdown-bg-color: #380f17;
    --dropdown-text-color: #efdfc5;
    --dropdown-hover-bg: #dc2011;
    --dropdown-hover-text: #efdfc5;
  
    --modal-bg-color: #380f17;
    --modal-text-color: #efdfc5;
    --modal-border-color: #dc2011;
    --modal-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    /* PAINEL SUPERIOR E INFERIOR*/
    --top-panel-bg-color: #380f17; 
    --top-panel-text-color: #efdfc5; 
    --top-panel-input-bg-color: #4c4f54; 
    --top-panel-input-text-color: #efdfc5; 
    --top-panel-input-border-color: #8f0b13; 

    /* PAINEL central*/
    --center-panel-bg-color: #4c4f54;
    --center-panel-text-color: #efdfc5;

    /* PAINEL DIREITO: Cores específicas*/
    --right-panel-bg-color: #8f0b13; 
    --right-panel-text-color: #efdfc5; 
    --right-panel-input-bg-color: #380f17; 
    --right-panel-input-text-color: #efdfc5; 
    --right-panel-input-border-color: #dc2011;

    /* PAINEL ESQUERDO*/
    --left-panel-bg-color: #8f0b13;
    --left-panel-text-color: #efdfc5;
}

/*-----------botões de opção de tema dentro do modal de preferências------------*/
.theme-option-btn {
    width: 32px;
    height: 32px; 
    border-radius: 9999px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.theme-option-btn:hover {
    transform: scale(1.1);
}

.theme-option-btn.selected {
    border-color: #51f63b; 
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

/* Cores específicas para os botões de opção de tema */
.theme-option-btn.theme-light { background-color: #f3f4f6; border-color: #d1d5db; }
.theme-option-btn.theme-dark { background-color: #2d3748; border-color: #4a5568; }
.theme-option-btn.theme-blue { background-color: #e0f2f7; border-color: #90cdf4; }
.theme-option-btn.theme-rose { background-color: #FFE5E8; border-color: #E2B0BE; }
.theme-option-btn.theme-gold { background-color: #f8d794; border-color: #bb6830; }
.theme-option-btn.theme-sea { background-color: #75E2E0; border-color: #2CABAD; }
.theme-option-btn.theme-violet { background-color: #E0CCFF; border-color: #6F67CB; }
.theme-option-btn.theme-beach { background-color: #FFFAED; border-color: #D2B48C; }
.theme-option-btn.theme-red { background-color: #F0D8C0; border-color: #DC2011; }

/*----------- ------------*/